body {
  width: 100%;
  height: 100%;
  padding: 0%;
}

header {
  background-color: #005a9c;
  margin: auto;
  width: 100%;
}

/* 1번째 줄 */

#headerIcons {
  display: flex;
  margin: auto;
}

.dropbtn img {
  width: 7.3vh;
  height: 7.3vh;
  cursor: pointer;
}

.dropbtn {
  background-color: #005a9c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* 검색 기능 */

form {
  padding-top: 3vh;
  padding-left: 30vh;
}

#search {
  display: flex;
}

#searchInput {
  width: 65vw;
  font-size: 24px;
  height: 5.3vh;
  position: absolute;
  left: 15%;
  top: 3.8%;
  border-radius: 14px;
  padding-left: 3.3vw;
}

/* left: -2.8%; top +0.1%; 차이 */
#searchBtn {
  width: 5.8vh;
  height: 5.7vh;
  background-color: transparent;
  border: none;
  border-radius: 14px;
  padding: 0%;
  display: flex;
  position: absolute;
  left: 15.3%;
  top: 3.9%;
}

#searchImg {
  width: 5.8vw;
  height: 5.8vh;
  padding: 0%;
  margin: 0%;
  cursor: pointer;
}

/* 검색창 오른쪽 */
#login {
  display: flex;
  position: absolute;
  top: 5%;
  right: 4.8%;
}

#login a {
  display: flex;
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#myNav {
  display: none;
  position: absolute;
  left: 0px;
  background-color: #d1cfe2;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#myNav a {
  color: black;
  padding: 30px 16px;
  text-decoration: none;
  display: block;
}

#myNav a:hover {
  background-color: #9cacde;
}

.dropdown:hover #myNav {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #005a9c;
}

a {
  font-size: large;
  font-weight: bold;
}

/* 본문 */

main {
  background-color: #f2ebe5;
  padding-bottom: 3%;
  justify-content: space-around;
}

#mainP {
  display: flex;

  font-weight: bold;
  justify-content: space-around;
}

#mainP img {
  display: inline-block;
  width: 21vw;
  height: 28vw;
  margin-top: 3%;
  margin-left: 3%;
}

#mainPara h2 {
  padding-top: 3vw;
  margin: 1% 0%;
  display: inline-block;
  color: black;
  font-family: "Arita buri";
  font-size: 12vh;
  font-weight: 500;
}

#mainPara #mainP1 {
  display: inline-block;
  font-family: "Arita buri";
  font-size: 4vh;
  font-weight: 300;
  color: rgb(36, 36, 36);
}

#mainPara #mainP2 {
  display: inline-block;
  font-family: "Arita buri";
  font-size: 2.5vh;
  font-weight: 300;
  color: rgb(36, 36, 36);
}

/* footer */

footer {
  background-color: rgb(80, 107, 148);
  width: 100%;
  height: 20%;
}

footer p {
  color: white;
  text-align: center;
  padding: 3%;
  margin: 0%;
}
